@font-face {
    font-family: 'Atari-Font-Full-Version';
    src:url('font/Atari-Font-Full-Version.ttf.woff') format('woff'),
        url('font/Atari-Font-Full-Version.ttf.svg#Atari-Font-Full-Version') format('svg'),
        url('font/Atari-Font-Full-Version.ttf.eot'),
        url('font/Atari-Font-Full-Version.ttf.eot?#iefix') format('embedded-opentype'); 
}


* { 
	padding: 0; margin: 0; 
	box-sizing: border-box;
	font-family: 'Atari-Font-Full-Version';
	user-select: none;
}

body {
	background-color: black;
	color:white;
}

#principal{
	position: relative;
	text-align: center;
	border-color: white;
	border-width: 10px;
	border-style:solid;
	margin: auto auto;
}


#joc{
	position:relative;
	background: black; 
	display: block; 
	margin: auto auto;
}

#joc-holder {
	position: absolute;
	top:0;
}

#menu {
	top:0;
	left:0;
	display: inline;
	width: 100%;
}

#menu span {
	margin:5px;
}
#start {
	width: 100%;
	text-align: center;
	top:50%
}

#inici, #fi{
	position:absolute;

	left: 275px; top: 50px;
	width: 400px; height: 300px;
	margin: 200px auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.3em;
	text-align:center;
	border:thick #990 solid;
	border-radius: 25px;
	background-color: #CFC;  
	opacity: 0.9;
}

.dreta{
	text-align:right;
}

#game {
	background-color: black; 
	
	border-bottom-width: 0;
	display: block;
}

#capçalera{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	background-color:#A3A352;  /* rgb(163,163,82) */
	height: 200px;
	border-radius:25px;
}

.msg {
	position: absolute;
	z-index: 100;
}


.left {
	float: left !important;
}

.right {
	float: right !important;
}