/* @font-face {
    font-family: 'Atari-Font-Full-Version';
    src:url('font/atari/Atari-Font-Full-Version.ttf.woff') format('woff'),
        url('font/atari/Atari-Font-Full-Version.ttf.svg#Atari-Font-Full-Version') format('svg'),
        url('font/atari/Atari-Font-Full-Version.ttf.eot'),
        url('font/atari/Atari-Font-Full-Version.ttf.eot?#iefix') format('embedded-opentype'); 
} */


@font-face {
    font-family: "C64 User Mono";
    src: url("font/c64/C64_Pro_Mono-STYLE.eot");
}

@font-face {
    font-family: "C64 User Mono";
    src: url("font/c64/C64_Pro_Mono-STYLE.ttf") format("truetype"), url("font/c64/C64_Pro_Mono-STYLE.woff") format("woff");
}


html, body {
	min-height: 100vh;
}

* { 
	padding: 0; margin: 0; 
	box-sizing: border-box;
	user-select: none;
	/* font-family: 'Atari-Font-Full-Version'; */
	font-family: "C64 User Mono";
}

body {
	background-color: black;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#principal{
	position: relative;
	text-align: center;
	border-color: white;
	border-width: 10px;
	border-style:solid;
}


#joc{
	position:relative;
	background: black; 
	display: block; 
	margin: auto auto;
}

#joc-holder {
	position: absolute;
	top:0;
}

#dades {
	top:0;
	left:0;
	display: inline;
	width: 100%;
}

#dades span {
	margin:5px;
}
#start, #game_over {
	width: 100%;
	text-align: center;
	top:50%
}

#inici, #fi{
	position:absolute;

	left: 275px; top: 50px;
	width: 400px; height: 300px;
	margin: 200px auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.3em;
	text-align:center;
	border:thick #990 solid;
	border-radius: 25px;
	background-color: #CFC;  
	opacity: 0.9;
}

.dreta{
	text-align:right;
}

#game {
	background-color: black; 
	border-bottom-width: 0;
	display: block;
}

#capçalera{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	background-color:#A3A352;
	height: 200px;
	border-radius:25px;
}

.msg {
	position: absolute;
	z-index: 100;
}


.left {
	float: left !important;
}

.right {
	float: right !important;
}

#init {
	text-align: center;
}

#init p {
	margin-top:10px;
	color: #ccc;
	font-size: smaller;
	font-weight: lighter;
}
#init #game-menu-start, #game-menu button {
	margin-top:20px;
	padding: 5px;
	cursor: pointer;
}

#animated_title {
	background-image: url("../img/animation.gif");
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 70px;
}

#game-menu {
	text-align: center;
}
#game-menu table{
	width: 100%;
}

#game-menu input {
	color:white;
	border: none;
	border-bottom: white solid 2px;
	background-color: black;
	padding: 5px;
	margin-bottom: 12px;

}
#game-menu h1, #game-menu h3 {
	text-align: center;
	text-decoration: underline;
}

#game-menu #setup {
	text-align: left;
	margin-top:30px;
	margin-bottom: 40px;
}
#game-menu #play {
	margin-top:30px;
}
tr td:nth-last-child(2) {
	text-align: right;
}

.elim {
	color:#d70000;
	cursor: pointer;
}

#level-info {
	margin-top: 10px;
	text-align: center;
}

#go_back {
	position: absolute;
	top:2%;
	left:1%;
}
h1.icon {
	cursor:pointer;
	font-size: 4.5em;
}

#sound {
	position: absolute;
	top:2%;
	right:1%;
}